<a href="https://colab.research.google.com/github/ANJU-SS/PYTHONDAY1PRACTICEPROBLEM/blob/main/Practice_Problems_Day_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Practice Problems Day** **02**

---

1. Write a program to find sum of all elements in a list of integers.

In [ ]:
listw=[1,2,3,4,5]
sum(listw)

15

2. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:
str1=input('enter the string : ')
str1[0:6]

enter the string : hello world

'hello '

3. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [ ]:
tuple1=[78,45,32,19,82,77,40,39]
print(tuple1)

[78, 45, 32, 19, 82, 77, 40, 39]

In [ ]:
tuple1=list(tuple1)
type(tuple1)

list

In [ ]:
tuple1.pop(2)

32

In [ ]:
tuple1.insert(3,100)

In [ ]:
print(tuple1)
tuple1=tuple(tuple1)
type(tuple1)

[78, 45, 19, 100, 82, 77, 40, 39]

tuple

4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements:

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
#(a) Delete the first occurrence of 32
listA.remove(32)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [ ]:
#(b) Delete all occurrences of 40
listA.remove(40)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

In [ ]:
#(c) Delete the value at index=5
listA.pop(5)

94

In [ ]:
#(d) Modify the value at index=9 as 300
listA.pop(9)
listA
listA.insert(9,300)
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]

In [ ]:
#(e) Add 200 at index=2
listA.insert(2,200)
listA

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [ ]:
#(f) Print the final list with its length, maximum value and sum of all elements:
listA
len(listA)

11

In [ ]:
max(listA)

300

In [ ]:
sum(listA)

828

5. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [ ]:
word ="The day has been long"
print(word)
#(a) Delete the value at index =4
word=list(word)
type(word)

The day has been long

list

In [ ]:
#(a) Delete the value at index =4
word.pop(4)
word

['T',
 'h',
 'e',
 ' ',
 'a',
 'y',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'b',
 'e',
 'e',
 'n',
 ' ',
 'l',
 'o',
 'n',
 'g']

In [ ]:
#(b) Print the string 4 times in a single line with space between each repetition
print("The day has been long \t"* 4)

The day has been long 	The day has been long 	The day has been long 	The day has been long

In [ ]:
#(c) Print the string 3 times in a new line each time
print('The day has been long \n' *3)

The day has been long
The day has been long
The day has been long

In [ ]:
#(d) Modify the string at index 7 as ’A’
print(word)

list

In [ ]:
word.pop(7)
print(word)

['T', 'h', 'e', ' ', 'a', 'y', ' ', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ', 'l', 'o', 'n', 'g']

In [ ]:
word.insert(7,"A")
word

['T',
 'h',
 'e',
 ' ',
 'a',
 'y',
 ' ',
 'A',
 'a',
 's',
 ' ',
 'b',
 'e',
 'e',
 'n',
 ' ',
 'l',
 'o',
 'n',
 'g']

In [ ]:
#e) Print the string from index 4 to 15
word[4:16]

['a', 'y', ' ', 'A', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ']

In [ ]:
#(f) Print the final string with its length
len(word)

20